.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 180px;
}
.software h1{
  font-size: 48px;
}
@media (max-width:400px){
  .software{
    margin-left: -60px;
  }
  .software h5{
    font-size: 1rem;
  }
  .software h1{
    font-size: 2.5rem;
  }
  .software ul li{
    font-size: 0.9rem;
  }
  .card h5 .btn{
    font-size: 0.8rem;
  }
}
.hide-me[aria-expanded="true"]{
  display: none;
}