.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 180px;
}
.software{
  background-image: url(images/software.jpg);
  padding:6rem;
  background-size: cover;
}
.datascience{
  background-image: url(images/software.jpg);
  padding:6rem;
  background-size: cover;
}
.software h1{
  font-size: 48px;
}
.datascience h1{
  font-size: 48px;
}
@media (max-width:400px){
  .software{
    margin-left: -60px;
  }
  .software h5{
    font-size: 1rem;
  }
  .software h1{
    font-size: 2.5rem;
  }
  .software ul li{
    font-size: 0.9rem;
  }
  
  .fullstack{
    margin-left: -60px;
  }
  .fullstack h5{
    font-size: 1rem;
  }
  .fullstack h1{
    font-size: 2.5rem;
  }
  .fullstack ul li{
    font-size: 0.9rem;
  }
  
  .datascience{
    margin-left: -60px;
  }
  .datascience h5{
    font-size: 1rem;
  }
  .datascience h1{
    font-size: 2.5rem;
  }
  .datascience ul li{
    font-size: 0.9rem;
  }
  .card h5 .btn{
    font-size: 0.8rem;
  }
}
.hide-me[aria-expanded="true"]{
  display: none;
}
.fullstack{
  background-image: url(images/software.jpg);
  padding:6rem;
  background-size: cover;
}
.fullstack h1{
    font-size: 48px;
}
